const config = {
    apiUrl: "http://localhost:8080",
    url: "http://127.0.0.1:8080",
    defaultImg: "static/images/compawny_logo.png",
    loadingImg: "static/images/server_logo.gif",

}
export default config